In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from sys import path
from sklearn.linear_model import LinearRegression

In [46]:
df = pd.read_parquet(r"C:\Users\dante\Downloads\data_evaluation_prod_202506_continuidad_regular_horario_202507.parquet")
df_01 = df[~((df['CANT_CLASES_PREDICT'] == 0) & (df['CANT_CLASES'] == 0))].copy()
score = float(np.mean(np.where(df_01['CANT_CLASES_PREDICT'] == df_01['CANT_CLASES'], 1, 0)))
score

0.8840754111512235

In [31]:
df[['CANT_CLASES_PREDICT', 'CANT_CLASES']].drop_duplicates().sort_values(
    ['CANT_CLASES', 'CANT_CLASES_PREDICT']
)

      CANT_CLASES_PREDICT  CANT_CLASES
34                    1.0            0
26                    0.0            1
0                     1.0            1
137                   2.0            1
681                   1.0            2
207                   2.0            2
1767                  3.0            2
2324                  4.0            2
720                   2.0            3
733                   3.0            3
1785                  4.0            3
2207                  5.0            3
1815                  3.0            4
1754                  4.0            4
1801                  5.0            4
1786                  4.0            5
1903                  5.0            5
1936                  4.0            7

In [27]:
df.loc[df['CANT_CLASES_PREDICT'] == 0, 'CANT_CLASES']

26      1
28      1
32      1
33      1
49      1
88      1
93      1
131     1
143     1
159     1
171     1
255     1
341     1
355     1
557     1
591     1
607     1
612     1
624     1
909     1
982     1
999     1
1002    1
1122    1
1146    1
1178    1
1180    1
1222    1
1287    1
1450    1
1474    1
1625    1
1712    1
1724    1
1738    1
2366    1
2390    1
Name: CANT_CLASES, dtype: int32

In [14]:
np.where(
    (df['CANT_CLASES_PREDICT'] == 0) & (df['CANT_CLASES'] == 0),
    1, 0
    )

array([0, 0, 0, ..., 0, 0, 0])

In [8]:
'notebook' # in ww.name

'notebook'

In [ ]:
# train and save linear model in pickle with synthetic data

In [15]:
path.append("C:\\Users\\dante\\g4_ops\\src\\features")

# 1. Extract Transform and Load

# 2. Loader

In [16]:
from loader import Loader

In [ ]:
loader_data = Loader(
    input_datastore="C:/Users/dante/g4_ops/data/platinumdata",
    ult_periodo=202601
)
tablas = loader_data.fetch_all()
df_prog_acad = tablas['prog_acad'].copy()

In [53]:
df_prog_acad['YEAR'] = df_prog_acad['PERIODO']//100
df_prog_acad['MONTH'] = df_prog_acad['PERIODO']%100

In [58]:
pd.pivot_table(
    data=df_prog_acad,
    index=['SEDE'],
    columns=['YEAR', 'MONTH'],
    aggfunc='sum',
    values='CANT_ALUMNOS',
    fill_value=0
).T

SEDE        Chimbote  Chincha  Ica  Iquitos  La Molina  Lima Centro  \
YEAR MONTH
2022 11            0        0  216      469       1655            0
     12            0        0  181      411       1407            0
2023 1           153       54  449      688       3063         1470
     2           172       70  487      809       3268         1763
     3           172       63  512      850       3182         2076
     4            83       47  446      761       2768         2123
     5           190       63  626      858       3113         2701
     6            90       70  554      762       2887         2759
     7           180       69  647      878       2978         3014
     8            93       80  585      744       2791         2878
     9           202       96  722      903       3091         3232
     10           77       98  600      684       2800         2959
     11          180       95  663      818       2837         3056
     12           87       76  543      598       2368         2646
2024 1           426      131  791      961       4009         4188
     2           311      164  746      848       3724         4386
     3           356      139  738      922       3689         4184
     4           168      126  652      822       3261         4094
     5           304      133  775      950       3515         4146
     6           155      117  692      826       3070         3878
     7           297      121  777      969       3341         4005
     8           137      130  685      877       3010         3763
     9           326      135  775     1046       3255         4106
     10          135      118  654      836       2848         3690
     11          266      105  680      939       2953         3724
     12          101       93  510      704       2206         2819
2025 1           550      175  933     1065       4151         4810
     2           404      164  905      902       3812         4522
     3           471      139    0     1035       3634         4333
     4           236      119  533      870       3115         3841
     5           436      109  515     1056       3379         4099
     6           230      102  601      843       3039         3778
     7           376       84  501     1002       3155         3959
     8           213      114  523      848       2765         3627
     9           362       77  452      974       3029         3922
     10          201       79  496      745       2549         3368
     11          321       45  446      849       2775         3518
     12          150       71  468      612       2053         2761
2026 1           607      127  763      935       3824         4464

SEDE        Lima Norte Satélite  Miraflores  Pucallpa  San Miguel  Surco  \
YEAR MONTH
2022 11                    3911           0         0        1041   2139
     12                    3752           0         0         965   1934
2023 1                     6660        1362         0        2609   3863
     2                     7100        1644         0        3035   4278
     3                     7182        1623         0        3006   3990
     4                     6514        1636         0        2943   3736
     5                     7203        1890         0        3193   4001
     6                     6895        1840         0        3170   3869
     7                     7101        1789         0        3279   3979
     8                     6779        1778         0        3150   3958
     9                     7404        1963         0        3484   4240
     10                    6980        1863         0        3194   3878
     11                    6850        1887         0        3280   3982
     12                    6077        1602         0        2777   3375
2024 1                     9094        2760         0        4303   5356
     2                     8726        2751         0        4290   5092
     3                     8089        2675         0        4284   4928
     4                     7430        2571         0        4166   4479
     5                     6995        2639         0        4308   4665
     6                     7085        2410         0        4127   4282
     7                     6866        2486         0        4337   4456
     8                     6770        2424         0        4063   4352
     9                     6720        2546       117        4397   4607
     10                    5626        2340        81        3961   4211
     11                    6106        2257       149        4003   4249
     12                    5008        1602        94        3091   3485
2025 1                     8132        3119       248        4864   5647
     2                     7579        2762       252        4665   5394
     3                     7596        2721       226        4569   5144
     4                     6706        2345       224        4253   4636
     5                     7205        2519       264        4542   4840
     6                     6578        2139       223        4238   4559
     7                     6770        2237       238        4239   4503
     8                     6182        1852       183        3945   4300
     9                     6527        2174       220        4134   4424
     10                    5902        1746       173        3658   3995
     11                    6170        1847       189        3716   4038
     12                    5201        1348       104        2893   3273
2026 1                     7913        2525       283        4554   5337

SEDE        Virtual
YEAR MONTH
2022 11       39313
     12       32838
2023 1        43201
     2        38072
     3        38189
     4        34823
     5        35295
     6        33702
     7        32094
     8        31964
     9        34019
     10       29471
     11       29188
     12       25283
2024 1        33294
     2        30378
     3        30622
     4        29901
     5        28750
     6        26408
     7        27318
     8        26959
     9        26306
     10       23648
     11       23255
     12       20296
2025 1        27064
     2        25428
     3        25910
     4        24768
     5        24609
     6        23864
     7        22322
     8        23328
     9        23711
     10       20823
     11       21169
     12       19035
2026 1        24854

In [45]:
tab = df_prog_acad[df_prog_acad.SEDE == 'Pucallpa'].groupby(
    ['PERIODO'], as_index=False
)[['CANT_CLASES', 'CANT_ALUMNOS']].sum()

In [46]:
tab

    PERIODO  CANT_CLASES  CANT_ALUMNOS
0    202409            7           117
1    202410            5            81
2    202411           12           149
3    202412            8            94
4    202501           18           248
5    202502           21           252
6    202503           18           226
7    202504           15           224
8    202505           24           264
9    202506           18           223
10   202507           24           238
11   202508           18           183
12   202509           20           220
13   202510           14           173
14   202511           20           189
15   202512           10           104
16   202601           27           283

In [42]:
tab.groupby(
    ['PERIODO']
)[['CANT_CLASES', 'CANT_ALUMNOS']].sum()

         CANT_CLASES  CANT_ALUMNOS
PERIODO
202211          2817         48744
202212          2415         41488
202301          3665         63572
202302          3371         60698
202303          3452         60845
202304          3105         55880
202305          3339         59133
202306          3163         56598
202307          3214         56008
202308          3125         54800
202309          3404         59356
202310          3050         52604
202311          3105         52836
202312          2749         45432
202401          3793         65313
202402          3665         61416
202403          3590         60626
202404          3326         57670
202405          3309         57180
202406          3045         53050
202407          3314         54973
202408          3250         53170
202409          3283         54336
202410          2899         48148
202411          2968         48686
202412          2543         40009
202501          3620         60758
202502          3323         56789
202503          3324         55778
202504          3153         51646
202505          3262         53573
202506          3013         50194
202507          3025         49386
202508          2935         47880
202509          2923         50006
202510          2583         43735
202511          2791         45083
202512          2498         37969
202601          3465         56186

In [2]:
c = {'A':40}

In [3]:
c|{"50":9}

{'A': 40, '50': 9}

# Metrics

In [1]:
import pandas as pd
import numpy as np
from sys import path

In [162]:
path.append("C:\\Users\\dante\\g4_ops\\src\\metrics")

In [163]:
from utils_metrics import fac_to_cant

In [ ]:
periodo = 202601
periodo_model = 202601
tipo = 'continuidad_regular'
tipo_data = 'forecast'
df_forecast = pd.read_parquet(f'../data/{tipo_data}/{tipo_data}_{tipo}_{periodo}_{periodo_model}.parquet')
# df_test = pd.read_parquet(f'../data/{tipo_data}/test/data_feats_test_{tipo}_{periodo}.parquet')
# df_target = pd.read_parquet(f'../data/target/test/data_target_test_{tipo}_{periodo}.parquet')

FileNotFoundError: [Errno 2] No such file or directory: '../data/forecast/forecast_continuidad_regular_202501_202501.parquet'

In [278]:
df_forecast[df_forecast['CURSO_ACTUAL'] == 'B11RP']

,PERIODO_TARGET,CURSO_ACTUAL,IDX,PE,VAC_ACAD_ESTANDAR,CANT_ALUMNOS_LAG_12,CANT_ALUMNOS_ANTERIOR,PCT_ALUMNOS_SPLY,LEVEL,IDX_CURSO,SEDE,FRECUENCIA,DURACION,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_PREDICT,CANT_CLASES_PREDICT,CANT_CLASES,CANT_ALUMNOS
9,202601,B11RP,1,5.0,25.0,0.0,16.0,0.000000,L_BAS,IC_11,Chimbote,Diario,Mensual,1.0,14.0,1.0,1,15
51,202601,B11RP,1,5.0,25.0,11.0,12.0,-0.214286,L_BAS,IC_11,Ica,Diario,Mensual,1.0,15.0,1.0,1,10
81,202601,B11RP,1,5.0,25.0,53.0,25.0,-0.101695,L_BAS,IC_11,Iquitos,Diario,Mensual,1.0,29.0,1.0,1,24
174,202601,B11RP,1,5.0,25.0,44.0,29.0,0.333333,L_BAS,IC_11,La Molina,Diario,Mensual,3.0,40.0,2.0,4,44
322,202601,B11RP,1,5.0,25.0,92.0,71.0,0.082353,L_BAS,IC_11,Lima Centro,Diario,Mensual,4.0,79.0,3.0,7,61
477,202601,B11RP,1,5.0,25.0,174.0,117.0,0.234043,L_BAS,IC_11,Lima Norte Satélite,Diario,Mensual,7.0,148.0,6.0,8,124
620,202601,B11RP,1,5.0,25.0,53.0,40.0,0.709677,L_BAS,IC_11,Miraflores,Diario,Mensual,4.0,58.0,3.0,6,49
761,202601,B11RP,1,5.0,25.0,72.0,78.0,-0.040000,L_BAS,IC_11,San Miguel,Diario,Mensual,6.0,93.0,4.0,6,87
902,202601,B11RP,1,5.0,25.0,95.0,72.0,0.266667,L_BAS,IC_11,Surco,Diario,Mensual,6.0,89.0,4.0,6,77

In [241]:
df_forecast_gt_pe = df_forecast[df_forecast.CANT_ALUMNOS_PREDICT>=df_forecast.PE].copy()
df_forecast_lt_pe = df_forecast[df_forecast.CANT_ALUMNOS_PREDICT<df_forecast.PE].copy()

In [242]:
print(df_forecast['CANT_ALUMNOS_PREDICT'].sum())
print(df_forecast_gt_pe['CANT_ALUMNOS_PREDICT'].sum())

49628.0
49476.0

In [ ]:
import pandas as pd
df = pd.read_parquet(
    r"C:\Users\dante\g4_ops\data\ml_data\evaluation\inicial_regular\v1\test\data_evaluation_inicial_regular_202507.parquet")

In [8]:
df

,PERIODO_TARGET,CURSO_ACTUAL,HORARIO_ACTUAL,IDX,PE,VAC_ACAD_ESTANDAR,CANT_ALUMNOS_LAG_01,CANT_ALUMNOS_LAG_02,CANT_ALUMNOS_LAG_03,NIVEL,LEVEL,IDX_CURSO,SEDE,FRECUENCIA,DURACION,CANT_ALUMNOS_PREDICT,CANT_CLASES_PREDICT,CANT_CLASES,CANT_ALUMNOS
0,202507,B00RP,16:00 - 17:30,1,6.0,25.0,0.0,10.0,18.0,BAS,L_BAS,IC_00,Chimbote,Diario,Mensual,1.0,0.0,0,0
1,202507,B00RP,17:45 - 19:15,1,6.0,25.0,8.0,6.0,15.0,BAS,L_BAS,IC_00,Chimbote,Diario,Mensual,4.0,0.0,1,8
2,202507,JR1SP,08:55 - 10:36,1,6.0,20.0,0.0,14.0,0.0,ST2,L_JR,IC_01,Chimbote,Sabatino,Bimensual,6.0,1.0,0,0
3,202507,JR1SP,10:50 - 12:31,1,6.0,20.0,12.0,0.0,10.0,ST2,L_JR,IC_01,Chimbote,Sabatino,Bimensual,3.0,0.0,0,0
4,202507,K01S,08:55 - 10:36,1,6.0,20.0,0.0,7.0,0.0,ST1,L_K,IC_01,Chimbote,Sabatino,Bimensual,4.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,202507,S07BD,14:40 - 18:16,1,6.0,15.0,0.0,15.0,0.0,SY,L_SY,IC_07,Virtual,Sabatino,Bimensual,10.0,1.0,1,15
213,202507,TK1RV,16:00 - 17:30,1,6.0,22.0,0.0,0.0,7.0,TEK,L_TEK,IC_01,Virtual,Diario,Mensual,1.0,0.0,0,0
214,202507,TK1RV,19:30 - 21:00,1,6.0,22.0,11.0,12.0,0.0,TEK,L_TEK,IC_01,Virtual,Diario,Mensual,9.0,1.0,1,11
215,202507,TP1RV,19:30 - 21:00,1,6.0,22.0,0.0,0.0,6.0,TPC,L_TPC,IC_01,Virtual,Diario,Mensual,0.0,0.0,0,0
216,202507,TP1RV,21:15 - 22:45,1,6.0,22.0,6.0,6.0,8.0,TPC,L_TPC,IC_01,Virtual,Diario,Mensual,3.0,0.0,1,8

In [286]:
periodo = 202601
periodo_model = 202601
tipo = 'continuidad_regular_horario'
tipo_data = 'forecast'
df_forecast_01 = pd.read_parquet(f'../data/{tipo_data}/{tipo_data}_{tipo}_{periodo}_{periodo_model}.parquet')
df_test = pd.read_parquet(f'../data/features/test/data_feats_test_{tipo}_{periodo}.parquet')
# df_target = pd.read_parquet(f'../data/target/test/data_target_test_{tipo}_{periodo}.parquet')

In [289]:
df_test[(df_test.CURSO_ACTUAL == 'B11RP')&(df_test.SEDE == 'Lima Norte Satélite')]

,PERIODO_TARGET,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_ANTERIOR,PERIODO_LAG_12,IDX,PE,VAC_ACAD_ESTANDAR,...,FAC_CLASES_LAG_12,FAC_ALUMNOS_LAG_12,FAC_CLASES,FAC_ALUMNOS,CANT_CLASES,CANT_ALUMNOS,NIVEL,CURSO_2,LEVEL,IDX_CURSO
2244,202601,Lima Norte Satélite,B11RP,07:00 - 08:30,1.0,15.0,202501,1,5,25,...,0.2,0.172414,0.125,0.129032,1,16,BAS,BAS 11,L_BAS,IC_11
2245,202601,Lima Norte Satélite,B11RP,08:45 - 10:15,1.0,15.0,202501,1,5,25,...,0.1,0.143678,0.125,0.185484,1,23,BAS,BAS 11,L_BAS,IC_11
2246,202601,Lima Norte Satélite,B11RP,10:30 - 12:00,1.0,14.0,202501,1,5,25,...,0.1,0.114943,0.125,0.112903,1,14,BAS,BAS 11,L_BAS,IC_11
2247,202601,Lima Norte Satélite,B11RP,12:30 - 14:00,0.0,0.0,202501,1,5,25,...,0.0,0.000000,0.125,0.072581,1,9,BAS,BAS 11,L_BAS,IC_11
2248,202601,Lima Norte Satélite,B11RP,14:15 - 15:45,1.0,10.0,202501,1,5,25,...,0.2,0.201149,0.125,0.096774,1,12,BAS,BAS 11,L_BAS,IC_11
2249,202601,Lima Norte Satélite,B11RP,16:00 - 17:30,1.0,20.0,202501,1,5,25,...,0.1,0.074713,0.125,0.161290,1,20,BAS,BAS 11,L_BAS,IC_11
2250,202601,Lima Norte Satélite,B11RP,17:45 - 19:15,1.0,23.0,202501,1,5,25,...,0.2,0.160920,0.125,0.104839,1,13,BAS,BAS 11,L_BAS,IC_11
2251,202601,Lima Norte Satélite,B11RP,19:30 - 21:00,1.0,20.0,202501,1,5,25,...,0.1,0.132184,0.125,0.137097,1,17,BAS,BAS 11,L_BAS,IC_11

In [282]:
df_forecast_01[
    (df_forecast_01['CURSO_ACTUAL'] == 'B11RP') & 
    (df_forecast_01['SEDE'] == 'Lima Norte Satélite')]

,PERIODO_TARGET,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,IDX,PE,VAC_ACAD_ESTANDAR,FAC_ALUMNOS_PREDICT,CANT_ALUMNOS_ANTERIOR,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_PREDICT,CANT_CLASES_PREDICT,FAC_CLASES,FAC_ALUMNOS,CANT_CLASES,CANT_ALUMNOS
863,202601,Lima Norte Satélite,B11RP,07:00 - 08:30,1,5.0,25.0,0.147160,15.0,1.0,20.0,1.0,0.125,0.129032,1,16
864,202601,Lima Norte Satélite,B11RP,08:45 - 10:15,1,5.0,25.0,0.136978,15.0,1.0,19.0,1.0,0.125,0.185484,1,23
865,202601,Lima Norte Satélite,B11RP,10:30 - 12:00,1,5.0,25.0,0.126580,14.0,1.0,18.0,1.0,0.125,0.112903,1,14
866,202601,Lima Norte Satélite,B11RP,12:30 - 14:00,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.125,0.072581,1,9
867,202601,Lima Norte Satélite,B11RP,14:15 - 15:45,1,5.0,25.0,0.148691,10.0,1.0,21.0,1.0,0.125,0.096774,1,12
868,202601,Lima Norte Satélite,B11RP,16:00 - 17:30,1,5.0,25.0,0.137728,20.0,1.0,19.0,1.0,0.125,0.161290,1,20
869,202601,Lima Norte Satélite,B11RP,17:45 - 19:15,1,5.0,25.0,0.189160,23.0,1.0,27.0,1.0,0.125,0.104839,1,13
870,202601,Lima Norte Satélite,B11RP,19:30 - 21:00,1,5.0,25.0,0.162377,20.0,1.0,24.0,1.0,0.125,0.137097,1,17

# Features

In [302]:
periodo = 202501
tipo = 'inicial_regular'
df_train = pd.read_parquet(f'../data/features/train/data_feats_train_{tipo}_{periodo}.parquet')
df_test = pd.read_parquet(f'../data/features/test/data_feats_test_{tipo}_{periodo}.parquet')
df_target = pd.read_parquet(f'../data/target/test/data_target_test_{tipo}_{periodo}.parquet')

# Forecast Alumn

- Grupo 4
- Nivel de granularidad: Periodo, Sede, CodigoCurso, Horario
- Algoritmo: Regresión lineal

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
from catboost import CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
periodo = 202502
tipo = 'continuidad_regular'
df_train = pd.read_parquet(f'../data/features/train/data_feats_train_{tipo}_{periodo}.parquet')
df_test = pd.read_parquet(f'../data/features/test/data_feats_test_{tipo}_{periodo}.parquet')
df_target = pd.read_parquet(f'../data/target/test/data_target_test_{tipo}_{periodo}.parquet')

In [18]:
df_test

,PERIODO_TARGET,PERIODO_LAG_12,SEDE,CURSO_ACTUAL,IDX,PE,PE_ANTERIOR,VAC_ACAD_ESTANDAR,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_ANTERIOR,...,CANT_CLASES,CANT_ALUMNOS,PCT_ALUMNOS,PCT_CLASES,NIVEL,CURSO_2,FRECUENCIA,DURACION,LEVEL,IDX_CURSO
0,202502,202402,Chimbote,B01RP,1,6,6,30,6,108,...,6,100,-0.074074,0.0,BAS,BAS 01,Diario,Mensual,L_BAS,IC_01
1,202502,202402,Chimbote,B02RP,1,6,6,30,1,16,...,1,17,0.062500,0.0,BAS,BAS 02,Diario,Mensual,L_BAS,IC_02
2,202502,202402,Chimbote,B04RP,1,6,6,30,1,16,...,1,11,-0.312500,0.0,BAS,BAS 04,Diario,Mensual,L_BAS,IC_04
3,202502,202402,Chimbote,B05RP,1,6,6,30,1,18,...,1,17,-0.055556,0.0,BAS,BAS 05,Diario,Mensual,L_BAS,IC_05
4,202502,202402,Chimbote,B06RP,1,6,6,30,1,11,...,1,8,-0.272727,0.0,BAS,BAS 06,Diario,Mensual,L_BAS,IC_06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,202502,202402,Virtual,TP2RV,1,6,6,22,2,22,...,2,19,-0.136364,0.0,TPC,TPC 02,Diario,Mensual,L_TPC,IC_02
1023,202502,202402,Virtual,Y03SV,1,6,6,16,2,26,...,1,16,-0.384615,-0.5,ST1,Y 03,Sabatino,Bimensual,L_Y,IC_03
1024,202502,202402,Virtual,Y04SV,1,6,6,16,1,7,...,1,7,0.000000,0.0,ST1,Y 04,Sabatino,Bimensual,L_Y,IC_04
1025,202502,202402,Virtual,Y05SV,1,6,6,16,1,13,...,1,12,-0.076923,0.0,ST1,Y 05,Sabatino,Bimensual,L_Y,IC_05
1026,202502,202402,Virtual,Y06SV,1,6,6,16,1,9,...,1,7,-0.222222,0.0,ST1,Y 06,Sabatino,Bimensual,L_Y,IC_06

In [17]:
from catboost import CatBoostRegressor
model = CatBoostRegressor()
model.load_model("../data/models/continuidad_regular_202502.cbm")

In [ ]:
X_eval = df_test
model.predict(X_eval)

In [12]:
df_test

,PERIODO_TARGET,PERIODO_LAG_12,SEDE,CURSO_ACTUAL,IDX,PE,PE_ANTERIOR,VAC_ACAD_ESTANDAR,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_ANTERIOR,...,CANT_CLASES,CANT_ALUMNOS,PCT_ALUMNOS,PCT_CLASES,NIVEL,CURSO_2,FRECUENCIA,DURACION,LEVEL,IDX_CURSO
0,202502,202402,Chimbote,B01RP,1,6,6,30,6,108,...,6,100,-0.074074,0.0,BAS,BAS 01,Diario,Mensual,L_BAS,IC_01
1,202502,202402,Chimbote,B02RP,1,6,6,30,1,16,...,1,17,0.062500,0.0,BAS,BAS 02,Diario,Mensual,L_BAS,IC_02
2,202502,202402,Chimbote,B04RP,1,6,6,30,1,16,...,1,11,-0.312500,0.0,BAS,BAS 04,Diario,Mensual,L_BAS,IC_04
3,202502,202402,Chimbote,B05RP,1,6,6,30,1,18,...,1,17,-0.055556,0.0,BAS,BAS 05,Diario,Mensual,L_BAS,IC_05
4,202502,202402,Chimbote,B06RP,1,6,6,30,1,11,...,1,8,-0.272727,0.0,BAS,BAS 06,Diario,Mensual,L_BAS,IC_06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,202502,202402,Virtual,TP2RV,1,6,6,22,2,22,...,2,19,-0.136364,0.0,TPC,TPC 02,Diario,Mensual,L_TPC,IC_02
1023,202502,202402,Virtual,Y03SV,1,6,6,16,2,26,...,1,16,-0.384615,-0.5,ST1,Y 03,Sabatino,Bimensual,L_Y,IC_03
1024,202502,202402,Virtual,Y04SV,1,6,6,16,1,7,...,1,7,0.000000,0.0,ST1,Y 04,Sabatino,Bimensual,L_Y,IC_04
1025,202502,202402,Virtual,Y05SV,1,6,6,16,1,13,...,1,12,-0.076923,0.0,ST1,Y 05,Sabatino,Bimensual,L_Y,IC_05
1026,202502,202402,Virtual,Y06SV,1,6,6,16,1,9,...,1,7,-0.222222,0.0,ST1,Y 06,Sabatino,Bimensual,L_Y,IC_06

In [13]:
periodo = 202502
tipo_2 = 'continuidad_regular_horario'
df_train_2 = pd.read_parquet(f'../data/features/train/data_feats_train_{tipo_2}_{periodo}.parquet')
df_test_2 = pd.read_parquet(f'../data/features/test/data_feats_test_{tipo_2}_{periodo}.parquet')
df_target_2 = pd.read_parquet(f'../data/target/test/data_target_test_{tipo_2}_{periodo}.parquet')

In [15]:
df_test_2

,PERIODO_TARGET,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_ANTERIOR,PERIODO_LAG_12,IDX,PE,VAC_ACAD_ESTANDAR,...,FAC_CLASES_LAG_12,FAC_ALUMNOS_LAG_12,FAC_CLASES,FAC_ALUMNOS,CANT_CLASES,CANT_ALUMNOS,NIVEL,CURSO_2,LEVEL,IDX_CURSO
0,202502,Chimbote,B01RP,08:45 - 10:15,2.0,36.0,202402,1,6,30,...,0.2,0.228571,0.333333,0.35,2,35,BAS,BAS 01,L_BAS,IC_01
1,202502,Chimbote,B01RP,10:30 - 12:00,1.0,18.0,202402,1,6,30,...,0.2,0.157143,0.166667,0.18,1,18,BAS,BAS 01,L_BAS,IC_01
2,202502,Chimbote,B01RP,16:00 - 17:30,2.0,36.0,202402,1,6,30,...,0.4,0.457143,0.333333,0.29,2,29,BAS,BAS 01,L_BAS,IC_01
3,202502,Chimbote,B01RP,17:45 - 19:15,1.0,18.0,202402,1,6,30,...,0.2,0.157143,0.166667,0.18,1,18,BAS,BAS 01,L_BAS,IC_01
4,202502,Chimbote,B02RP,08:45 - 10:15,0.0,0.0,202402,1,6,30,...,0.0,0.000000,0.000000,0.00,0,0,BAS,BAS 02,L_BAS,IC_02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236,202502,Virtual,Y06SV,08:55 - 10:36,1.0,9.0,202402,1,6,16,...,0.5,0.590909,1.000000,1.00,1,7,ST1,Y 06,L_Y,IC_06
5237,202502,Virtual,Y06SV,10:50 - 12:31,0.0,0.0,202402,1,6,16,...,0.5,0.409091,0.000000,0.00,0,0,ST1,Y 06,L_Y,IC_06
5238,202502,Virtual,Y06SV,12:45 - 14:26,0.0,0.0,202402,1,6,16,...,0.0,0.000000,0.000000,0.00,0,0,ST1,Y 06,L_Y,IC_06
5239,202502,Virtual,Y06SV,14:40 - 16:21,0.0,0.0,202402,1,6,16,...,0.0,0.000000,0.000000,0.00,0,0,ST1,Y 06,L_Y,IC_06
5240,202502,Virtual,Y06SV,16:35 - 18:16,0.0,0.0,202402,1,6,16,...,0.0,0.000000,0.000000,0.00,0,0,ST1,Y 06,L_Y,IC_06

In [8]:
df_train

,PERIODO_TARGET,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,CANT_CLASES_ANTERIOR,CANT_ALUMNOS_ANTERIOR,PERIODO_LAG_12,IDX,PE,VAC_ACAD_ESTANDAR,...,Iquitos,La Molina,Lima Centro,Lima Norte Satélite,Miraflores,Pucallpa,San Miguel,Surco,Virtual,FLAG_PE
0,202401,Chimbote,B01RP,08:45 - 10:15,0.0,0.0,202301,1,6,25,...,0,0,0,0,0,0,0,0,0,0
1,202401,Chimbote,B01RP,10:30 - 12:00,0.0,0.0,202301,1,6,25,...,0,0,0,0,0,0,0,0,0,0
2,202401,Chimbote,B01RP,16:00 - 17:30,1.0,18.0,202301,1,6,25,...,0,0,0,0,0,0,0,0,0,0
3,202401,Chimbote,B01RP,17:45 - 19:15,0.0,0.0,202301,1,6,25,...,0,0,0,0,0,0,0,0,0,0
4,202401,Chimbote,B03RP,08:45 - 10:15,0.0,0.0,202301,1,6,25,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64330,202501,Virtual,Y06SV,08:55 - 10:36,1.0,12.0,202401,1,6,15,...,0,0,0,0,0,0,0,0,1,0
64331,202501,Virtual,Y06SV,10:50 - 12:31,1.0,7.0,202401,1,6,15,...,0,0,0,0,0,0,0,0,1,0
64332,202501,Virtual,Y06SV,12:45 - 14:26,0.0,0.0,202401,1,6,15,...,0,0,0,0,0,0,0,0,1,0
64333,202501,Virtual,Y06SV,14:40 - 16:21,0.0,0.0,202401,1,6,15,...,0,0,0,0,0,0,0,0,1,0
64334,202501,Virtual,Y06SV,16:35 - 18:16,0.0,0.0,202401,1,6,15,...,0,0,0,0,0,0,0,0,1,0

In [53]:
tipo = 'inicial_estacional'
df_train = pd.read_parquet(f'../data/features/train/data_feats_train_{tipo}_202501.parquet')
df_test = pd.read_parquet(f'../data/features/test/data_feats_test_{tipo}_202501.parquet')
df_target = pd.read_parquet(f'../data/target/test/data_target_test_{tipo}_202501.parquet')

In [96]:
df_test_01 = df_test.copy()

In [98]:
df_test_01['SEDE'] = 'Dante'

In [100]:
df_test_02 = pd.concat([df_test_01, df_test])

In [101]:
df_test_02

,PERIODO_TARGET,PERIODO_LAG_12,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,IDX,PE,VAC_ACAD_ESTANDAR,CANT_CLASES_LAG_12,CANT_ALUMNOS_LAG_12,CANT_CLASES,CANT_ALUMNOS,NIVEL,CURSO_2,LEVEL,IDX_CURSO,PREDICT
0,202501,202401,Dante,JR2RP,08:45 - 10:15,1,6,20,1,18,2,29,ST2,JR 01-02,L_JR,IC_01-02,17.0
1,202501,202401,Dante,JR2RP,10:30 - 12:00,1,6,20,2,36,2,31,ST2,JR 01-02,L_JR,IC_01-02,26.0
2,202501,202401,Dante,JR2RP,16:00 - 17:30,1,6,20,1,18,2,32,ST2,JR 01-02,L_JR,IC_01-02,17.0
3,202501,202401,Dante,K02D,08:45 - 10:15,1,6,20,1,18,1,11,ST1,K 01-02,L_K,IC_01-02,24.0
4,202501,202401,Dante,K02D,10:30 - 12:00,1,6,20,1,18,1,18,ST1,K 01-02,L_K,IC_01-02,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,202501,202401,Virtual,K02RV,08:45 - 10:15,1,6,15,1,15,1,16,ST1,K 01-02,L_K,IC_01-02,17.0
76,202501,202401,Virtual,K02RV,10:30 - 12:00,1,6,15,2,29,1,7,ST1,K 01-02,L_K,IC_01-02,21.0
77,202501,202401,Virtual,K02RV,14:15 - 15:45,1,6,15,1,15,1,11,ST1,K 01-02,L_K,IC_01-02,17.0
78,202501,202401,Virtual,K02RV,16:00 - 17:30,1,6,15,1,15,1,11,ST1,K 01-02,L_K,IC_01-02,17.0
79,202501,202401,Virtual,K02RV,17:45 - 19:15,1,6,15,1,15,1,8,ST1,K 01-02,L_K,IC_01-02,17.0

In [102]:
num_features = ['CANT_ALUMNOS_LAG_12']
cat_features = ['NIVEL', 'LEVEL', 'IDX_CURSO']
target = 'CANT_ALUMNOS'
y = target
x = num_features + cat_features
X_train = df_train[x].copy()
X_test = df_test_02[x].copy()
y_train = df_train[y].copy()

In [103]:
# 4. Initialize and Train CatBoostRegressor
model = CatBoostRegressor(
    iterations=500,
    learning_rate=0.1,
    depth=6,
    loss_function='RMSE',
    verbose=False, # Set to True to see training progress,
    min_data_in_leaf=5,
)

model.fit(X_train, y_train, cat_features=cat_features)

In [107]:
model.predict(X_test)

array([16.98458009, 26.49639171, 16.98458009, 24.03511988, 24.03511988,
       -0.30062507, 12.26010722, 16.98458009, 15.95436119, 10.71854544,
        9.92125734, 13.40815357, 14.07050506, 33.62501977, 14.07050506,
       22.930531  , 14.07050506, 33.62501977, 15.95436119, 14.07050506,
       16.30133214, 20.47645972, 10.71854544, 32.2749661 , 32.2749661 ,
       16.98458009, 16.98458009, 15.95436119, 24.03511988, 20.47645972,
       20.47645972, 30.92644034, 30.92644034, 14.07050506, 14.07050506,
       15.95436119, 16.98458009, 22.78203697, 20.47645972, 20.47645972,
       20.47645972,  9.21136236, 16.98458009, 21.43228776, 13.16007926,
       14.07050506, 24.03511988, 18.16016896, 21.905336  , 14.07050506,
       33.62501977, 14.07050506, 22.930531  , 15.95436119, 40.89587477,
       16.98458009, 15.95436119, 16.89172049, 13.31711818, 24.03511988,
        6.35658762, 33.62501977, 33.62501977, 14.07050506, 14.07050506,
        2.56666179, 21.50300058, 22.89609615, 21.905336  , 33.62501977,
       38.51628761, 12.26010722, 12.26010722, 16.48674131, 12.26010722,
       16.89172049, 21.18960451, 16.89172049, 16.89172049, 16.89172049,
       16.98458009, 26.49639171, 16.98458009, 24.03511988, 24.03511988,
       -0.30062507, 12.26010722, 16.98458009, 15.95436119, 10.71854544,
        9.92125734, 13.40815357, 14.07050506, 33.62501977, 14.07050506,
       22.930531  , 14.07050506, 33.62501977, 15.95436119, 14.07050506,
       16.30133214, 20.47645972, 10.71854544, 32.2749661 , 32.2749661 ,
       16.98458009, 16.98458009, 15.95436119, 24.03511988, 20.47645972,
       20.47645972, 30.92644034, 30.92644034, 14.07050506, 14.07050506,
       15.95436119, 16.98458009, 22.78203697, 20.47645972, 20.47645972,
       20.47645972,  9.21136236, 16.98458009, 21.43228776, 13.16007926,
       14.07050506, 24.03511988, 18.16016896, 21.905336  , 14.07050506,
       33.62501977, 14.07050506, 22.930531  , 15.95436119, 40.89587477,
       16.98458009, 15.95436119, 16.89172049, 13.31711818, 24.03511988,
        6.35658762, 33.62501977, 33.62501977, 14.07050506, 14.07050506,
        2.56666179, 21.50300058, 22.89609615, 21.905336  , 33.62501977,
       38.51628761, 12.26010722, 12.26010722, 16.48674131, 12.26010722,
       16.89172049, 21.18960451, 16.89172049, 16.89172049, 16.89172049])

In [94]:
df_test #[['CANT_ALUMNOS', 'PREDICT']]

,PERIODO_TARGET,PERIODO_LAG_12,SEDE,CURSO_ACTUAL,HORARIO_ACTUAL,IDX,PE,VAC_ACAD_ESTANDAR,CANT_CLASES_LAG_12,CANT_ALUMNOS_LAG_12,CANT_CLASES,CANT_ALUMNOS,NIVEL,CURSO_2,LEVEL,IDX_CURSO,PREDICT
0,202501,202401,Chimbote,JR2RP,08:45 - 10:15,1,6,20,1,18,2,29,ST2,JR 01-02,L_JR,IC_01-02,17.0
1,202501,202401,Chimbote,JR2RP,10:30 - 12:00,1,6,20,2,36,2,31,ST2,JR 01-02,L_JR,IC_01-02,26.0
2,202501,202401,Chimbote,JR2RP,16:00 - 17:30,1,6,20,1,18,2,32,ST2,JR 01-02,L_JR,IC_01-02,17.0
3,202501,202401,Chimbote,K02D,08:45 - 10:15,1,6,20,1,18,1,11,ST1,K 01-02,L_K,IC_01-02,24.0
4,202501,202401,Chimbote,K02D,10:30 - 12:00,1,6,20,1,18,1,18,ST1,K 01-02,L_K,IC_01-02,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,202501,202401,Virtual,K02RV,08:45 - 10:15,1,6,15,1,15,1,16,ST1,K 01-02,L_K,IC_01-02,17.0
76,202501,202401,Virtual,K02RV,10:30 - 12:00,1,6,15,2,29,1,7,ST1,K 01-02,L_K,IC_01-02,21.0
77,202501,202401,Virtual,K02RV,14:15 - 15:45,1,6,15,1,15,1,11,ST1,K 01-02,L_K,IC_01-02,17.0
78,202501,202401,Virtual,K02RV,16:00 - 17:30,1,6,15,1,15,1,11,ST1,K 01-02,L_K,IC_01-02,17.0
79,202501,202401,Virtual,K02RV,17:45 - 19:15,1,6,15,1,15,1,8,ST1,K 01-02,L_K,IC_01-02,17.0

In [78]:
model.predict(X_test).round().copy()

array([16., 29., 16., 22., 22.,  4., 14., 16., 16., 10.,  9.,  9., 16.,
       38., 16., 24., 16., 38., 16., 16., 15., 22., 10., 35., 35., 16.,
       16., 16., 22., 22., 22., 32., 32., 16., 16., 16., 16., 24., 22.,
       22., 22.,  5., 16., 24., 18., 16., 22., 19., 22., 16., 38., 16.,
       24., 16., 44., 16., 16., 18., 15., 22.,  9., 38., 38., 16., 16.,
        7., 22., 24., 22., 38., 42., 14., 14., 21., 14., 18., 23., 18.,
       18., 18.])

array([16.34487398, 29.36017579, 16.34487398, 22.49830336, 22.49830336,
        3.80546943, 13.80359155, 16.34487398, 16.28772938, 10.21058691,
        9.1909277 ,  9.08389314, 16.2614968 , 38.23499251, 16.2614968 ,
       24.08071251, 16.2614968 , 38.23499251, 16.28772938, 16.2614968 ,
       15.1210254 , 21.87301428, 10.21058691, 34.68711875, 34.68711875,
       16.34487398, 16.34487398, 16.28772938, 22.49830336, 21.87301428,
       21.87301428, 32.49474736, 32.49474736, 16.2614968 , 16.2614968 ,
       16.28772938, 16.34487398, 24.16758287, 21.87301428, 21.87301428,
       21.87301428,  5.44419042, 16.34487398, 23.96561885, 18.24599977,
       16.2614968 , 22.49830336, 19.16612873, 21.95403643, 16.2614968 ,
       38.23499251, 16.2614968 , 24.08071251, 16.28772938, 44.13030297,
       16.34487398, 16.28772938, 18.26960931, 15.43994111, 22.49830336,
        9.29847149, 38.23499251, 38.23499251, 16.2614968 , 16.2614968 ,
        6.85114832, 21.58690934, 24.4795744 , 21.95403643, 38.23499251,
       42.06198094, 13.80359155, 13.80359155, 20.90404216, 13.80359155,
       18.26960931, 23.2640833 , 18.26960931, 18.26960931, 18.26960931])

In [70]:
y_train

0     18
1     36
2     18
3     18
4     10
      ..
77    29
78    15
79    15
80    15
81     0
Name: CANT_ALUMNOS, Length: 82, dtype: int32

In [45]:
print(df_train.shape)
print(df_test.shape)
print(df_target.shape)

(12350, 93)
(1130, 93)
(1064, 5)

In [46]:
df_target

      PERIODO_TARGET      SEDE CURSO_ACTUAL  CANT_CLASES  CANT_ALUMNOS
0             202501  Chimbote        B01RP            1            16
1             202501  Chimbote        B03RP            1            16
2             202501  Chimbote        B04RP            1            18
3             202501  Chimbote        B05RP            1            11
4             202501  Chimbote        B06RP            1            14
...              ...       ...          ...          ...           ...
1059          202501   Virtual        TK4RV            1            11
1060          202501   Virtual        Y01SV            1            15
1061          202501   Virtual        Y02SV            1             6
1062          202501   Virtual        Y04SV            1            15
1063          202501   Virtual        Y06SV            1            14

[1064 rows x 5 columns]

In [3]:
# 1. Create Example Data
data = {
    'Size_sqft': [1500, 2000, 1200, 2400, 1800, 3000, 1100, 2100],
    'Bedrooms': [3, 4, 2, 4, 3, 5, 2, 3],
    'Neighborhood': ['Suburb', 'City', 'Suburb', 'Rural', 'City', 'City', 'Rural', 'Suburb'],
    'Price': [300000, 450000, 250000, 480000, 390000, 600000, 210000, 410000]
}

df = pd.DataFrame(data)

In [5]:
# 2. Identify Features and Target
X = df.drop('Price', axis=1)
y = df['Price']

In [8]:
# Define categorical features indices
cat_features = ['Neighborhood']

In [9]:
# 3. Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# 4. Initialize and Train CatBoostRegressor
model = CatBoostRegressor(
    iterations=100,
    learning_rate=0.1,
    depth=6,
    loss_function='RMSE',
    verbose=False # Set to True to see training progress
)

model.fit(X_train, y_train, cat_features=cat_features)

# 5. Make Predictions
preds = model.predict(X_test)

# 6. Evaluate
rmse = np.sqrt(mean_squared_error(y_test, preds))
r2 = r2_score(y_test, preds)

print(f"RMSE: {rmse:.2f}")
print(f"R2 Score: {r2:.2f}")

RMSE: 155276.45
R2 Score: -3.29

In [109]:
# %pip install jinja2
# %pip install pyarrow
# %pip install matplotlib

In [108]:
# qq.head(50).style.background_gradient(cmap='coolwarm')
# qq = df_02.groupby(
#     ['PERIODO', 'SEDE', 'CURSO_ACTUAL', 'HORARIO_ACTUAL', 'FLAG_ESTACIONAL']
# ).agg(
#     CANT_CLASES=pd.NamedAgg(
#         column='CANT_CLASES',
#         aggfunc='sum'
#     ),
#     CANT_ALUMNOS=pd.NamedAgg(
#         column='CANT_ALUMNOS',
#         aggfunc='sum'
#     )
# )
# qq.div(
#     qq.groupby(
#         ['PERIODO', 'SEDE', 'CURSO_ACTUAL', 'FLAG_ESTACIONAL']
#     ).sum()
# )
# df_03 = df_02.pivot_table(
#     index=['SEDE', 'CURSO_ACTUAL', 'HORARIO_ACTUAL'], 
#     columns='PERIODO',
#     values='CANT_CLASES', aggfunc='sum', fill_value=0)
# corr = df_03.corr()
# corr.style.background_gradient(cmap='coolwarm')
#  #.to_clipboard()

In [110]:
# from azure.identity import DefaultAzureCredential, InteractiveBrowserCredential
# from azure.ai.ml import MLClient
# from azure.ai.ml import command
# import pandas as pd
# from unidecode import unidecode
# from datetime import datetime
# import pandas as pd
# from dateutil.relativedelta import relativedelta
# # Don't run in local
# # Connect to workspace and get credentials
# try:
#     credential = DefaultAzureCredential()
#     credential.get_token("https://management.azure.com/.default")
# except Exception:
#     credential = InteractiveBrowserCredential()

# ml_client = MLClient.from_config(credential=credential)

# # Config
# sub_id='0fa282e4-ddd7-470a-8f1a-63f922a635a7'
# rg_name='forecast-icpna-rg'
# aml_ws_name='azmlccmlops'
# base_path = f'azureml://subscriptions/{sub_id}/resourcegroups/{rg_name}/workspaces/{aml_ws_name}/datastores'
# class Dataset:
    
#     def __init__(self, base_path:str,  periodo:int, n_periodos:int|None=3, all_periodos:bool=False, credential=None) -> None:
#         self.base_path = base_path
#         self.data_store = "forecastdatamodel"
#         self.credential = credential
#         self.periodo = periodo
#         self.n_periodos = n_periodos
#         self.all_periodos = all_periodos
#         self.periodos = self.validate_periodos()

#     def validate_periodos(self):
#         if isinstance(self.n_periodos, int):
#             periodos = self.get_last_n_periodos(self.periodo, self.n_periodos)
#             print("✅ Prog Acad se está actualizando para:",periodos)
#         else:
#             assert self.all_periodos
#             periodos = self.get_all_periodos(self.periodo).copy()
#             print("✅ Prog Acad se está actualizando para:",periodos)
#         return periodos
    
#     @staticmethod
#     def get_n_lags(periodo: int, n: int):
#         periodo_date = datetime.strptime(str(periodo), '%Y%m')
#         return int((periodo_date - relativedelta(months=n)).strftime('%Y%m'))
    
#     def get_last_n_periodos(self, periodo: int, n: int):
#         # periodo_date = datetime.strptime(str(periodo), '%Y%m')
#         return [self.get_n_lags(periodo, lag) for lag in range(n)]
    
#     def get_all_periodos(self, periodo: int):
#         periodos = pd.period_range(
#             start=datetime(2023, 1, 1), 
#             end=datetime(periodo//100, periodo%100, 1), 
#             freq='M')
#         periodos = periodos.strftime('%Y%m').astype('int32')
#         # periodo_date = datetime.strptime(str(periodo), '%Y%m')
#         return periodos

#     def fetch_tabla_horario(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Horarios Merge.xlsx'
#         if self.credential is None:
#             tabla_horario = pd.read_excel(path, sheet_name='Hoja1')    
#         else:
#             tabla_horario = pd.read_excel(path, sheet_name='Hoja1', storage_options={"credential": credential})
#         tabla_horario.columns = tabla_horario.columns.astype('string')
#         tabla_horario.columns = tabla_horario.columns.str.strip().str.upper()
#         tabla_horario.columns = tabla_horario.columns.str.replace('.', '')
#         tabla_horario.columns = tabla_horario.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_horario
    
#     def fetch_tabla_curso_actual(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Cursos Actual.xlsx'
#         if self.credential is None:
#             tabla_curso_actual = pd.read_excel(path, sheet_name='BBDD')
#         else:
#             tabla_curso_actual = pd.read_excel(path, sheet_name='BBDD', storage_options={"credential": credential})

#         tabla_curso_actual.columns = tabla_curso_actual.columns.astype('string')
#         tabla_curso_actual.columns = tabla_curso_actual.columns.str.strip().str.upper()
#         tabla_curso_actual.columns = tabla_curso_actual.columns.str.replace('.', '')
#         tabla_curso_actual.columns = tabla_curso_actual.columns.str.replace(' ', '_').map(unidecode)
        
#         return tabla_curso_actual
    
#     def fetch_tabla_curso_acumulado(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Cursos Acumulado.xlsx'
#         if self.credential is None:
#             tabla_curso_acumulado = pd.read_excel(path, sheet_name='BBDD')
#         else:
#             tabla_curso_acumulado = pd.read_excel(path, sheet_name='BBDD', storage_options={"credential": credential})
#         tabla_curso_acumulado.columns = tabla_curso_acumulado.columns.astype('string')
#         tabla_curso_acumulado.columns = tabla_curso_acumulado.columns.str.strip().str.upper()
#         tabla_curso_acumulado.columns = tabla_curso_acumulado.columns.str.replace('.', '')
#         tabla_curso_acumulado.columns = tabla_curso_acumulado.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_curso_acumulado

#     def fetch_tabla_sede(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Total Aulas.xlsx'
#         if self.credential is None:
#             tabla_sede = pd.read_excel(path, sheet_name='SEDE')
#         else:
#             tabla_sede = pd.read_excel(path, sheet_name='SEDE', storage_options={"credential": credential})
#         tabla_sede.columns = tabla_sede.columns.astype('string')
#         tabla_sede.columns = tabla_sede.columns.str.strip().str.upper()
#         tabla_sede.columns = tabla_sede.columns.str.replace('.', '')
#         tabla_sede.columns = tabla_sede.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_sede

#     def fetch_tabla_curso_inicial(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Cursos Iniciales.xlsx'
#         if self.credential is None:
#             tabla_curso_inicial = pd.read_excel(path, sheet_name='CURSOS_INICIALES')
#         else:
#             tabla_curso_inicial = pd.read_excel(path, sheet_name='CURSOS_INICIALES', storage_options={"credential": credential})
#         tabla_curso_inicial.columns = tabla_curso_inicial.columns.astype('string')
#         tabla_curso_inicial.columns = tabla_curso_inicial.columns.str.strip().str.upper()
#         tabla_curso_inicial.columns = tabla_curso_inicial.columns.str.replace('.', '')
#         tabla_curso_inicial.columns = tabla_curso_inicial.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_curso_inicial

#     def fetch_tabla_aula(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Total Aulas.xlsx'
#         if self.credential is None:
#             tabla_aula = pd.read_excel(path, sheet_name='BBDD')
#         else:
#             tabla_aula = pd.read_excel(path, sheet_name='BBDD', storage_options={"credential": credential})
#         tabla_aula.columns = tabla_aula.columns.astype('string')
#         tabla_aula.columns = tabla_aula.columns.str.strip().str.upper()
#         tabla_aula.columns = tabla_aula.columns.str.replace('.', '')
#         tabla_aula.columns = tabla_aula.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_aula

#     def fetch_tabla_turno_disponible(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Total Aulas.xlsx'
#         if  self.credential is None:
#             tabla_turno_disponible = pd.read_excel(path, sheet_name='HORARIOS_ATENCION')
#         else:
#             tabla_turno_disponible = pd.read_excel(path, sheet_name='HORARIOS_ATENCION', storage_options={"credential": credential})
#         tabla_turno_disponible.columns = tabla_turno_disponible.columns.astype('string')
#         tabla_turno_disponible.columns = tabla_turno_disponible.columns.str.strip().str.upper()
#         tabla_turno_disponible.columns = tabla_turno_disponible.columns.str.replace('.', '')
#         tabla_turno_disponible.columns = tabla_turno_disponible.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_turno_disponible
    
#     def fetch_tabla_vac_estandar(self):
#         path = self.base_path+'/'+self.data_store+'/'+'paths/dim/Total Aulas.xlsx'
#         if self.credential is None:
#             tabla_vac_estandar = pd.read_excel(path, sheet_name='VAC_ACAD_ESTANDAR')
#         else:
#             tabla_vac_estandar = pd.read_excel(path, sheet_name='VAC_ACAD_ESTANDAR', storage_options={"credential": credential})
#         tabla_vac_estandar.columns = tabla_vac_estandar.columns.astype('string')
#         tabla_vac_estandar.columns = tabla_vac_estandar.columns.str.strip().str.upper()
#         tabla_vac_estandar.columns = tabla_vac_estandar.columns.str.replace('.', '')
#         tabla_vac_estandar.columns = tabla_vac_estandar.columns.str.replace(' ', '_').map(unidecode)
#         return tabla_vac_estandar
    
#     @staticmethod
#     def filter_prog_acad(df_prog_acad: pd.DataFrame):
#         es_cancelado = df_prog_acad['ESTADO'] == 'Cur. Cancelado'
#         es_vecor = df_prog_acad['SEDE'] == 'VECOR'
#         es_corporate = df_prog_acad['NIVEL'] == 'Corporate'
#         end_with_pv = df_prog_acad['CODIGO_DE_CURSO'].str.contains('.+[pP][Vv]$')
#         end_with_p = df_prog_acad['CODIGO_DE_CURSO'].str.contains('.+[pP]$')
#         break_periodo = df_prog_acad['PERIODO'] < 202409

#         return (
#             df_prog_acad[(~(es_cancelado | es_vecor | ((end_with_pv | end_with_p) & break_periodo) |
#                                  (end_with_pv & ~break_periodo) | es_corporate)) ].copy())

    
#     def fetch_prog_acad_by_periodo(self, periodo:int):
#         assert isinstance(periodo, int)
#         year = periodo//100
#         path = self.base_path + '/' + self.data_store + '/paths/prog-acad/'+ str(year) + f'/{periodo}.xlsx'
#         if self.credential is None:
#             prog_acad = pd.read_excel(path, sheet_name='Sheet1', skiprows=1)
#         else:
#             prog_acad = pd.read_excel(path, sheet_name='Sheet1', storage_options={"credential": credential}, skiprows=1)
#         prog_acad.columns = prog_acad.columns.astype('string')
#         prog_acad.columns = prog_acad.columns.str.strip().str.upper()
#         prog_acad.columns = prog_acad.columns.str.replace('.', '')
#         prog_acad.columns = prog_acad.columns.str.replace(' ', '_').map(unidecode)
        
#         prog_acad['PERIODO' ] = prog_acad['PERIODO'].astype('int32')
#         prog_acad['SEDE' ] = prog_acad['SEDE'].astype('string')
#         prog_acad['MODALIDAD' ] = prog_acad['MODALIDAD'].astype('string')
#         prog_acad['FASE' ] = prog_acad['FASE'].astype('string')
#         prog_acad['NIVEL' ] = prog_acad['NIVEL'].astype('string')
#         prog_acad['CODIGO_DE_CURSO'] = prog_acad['CODIGO_DE_CURSO'].astype('string')
#         prog_acad['DESCRIPCION' ] = prog_acad['DESCRIPCION'].astype('string')
#         prog_acad['FRECUENCIA' ] = prog_acad['FRECUENCIA'].astype('string')
#         prog_acad['INTENSIDAD' ] = prog_acad['INTENSIDAD'].astype('string')
#         prog_acad['HORARIO' ] = prog_acad['HORARIO'].astype('string')
#         prog_acad['AULA'] = prog_acad['AULA'].astype('string')
#         prog_acad['COD_DOCENTE' ] = prog_acad['COD_DOCENTE'].astype('string')
#         prog_acad['PROFESOR' ] = prog_acad['PROFESOR'].astype('string')
#         prog_acad['CANT_MATRICULADOS' ] = prog_acad['CANT_MATRICULADOS'].astype('int32')
#         prog_acad['VACANTES_USADAS'] = prog_acad['VACANTES_USADAS'].astype('int32')
#         prog_acad['VACANTES_DISP' ] = prog_acad['VACANTES_DISP'].astype('int32')
#         prog_acad['VAC_HABILITADAS' ] = prog_acad['VAC_HABILITADAS'].astype('int32')
#         prog_acad['AFORO' ] = prog_acad['AFORO'].astype('int32')
#         prog_acad['ESTADO'] = prog_acad['ESTADO'].astype('string')
#         prog_acad['FECHA_CREACION'] = prog_acad['FECHA_CREACION'].astype('string')
#         n_rows = prog_acad.shape[0]
#         prog_acad = self.filter_prog_acad(prog_acad)
#         print("✅ Periodo:", periodo)
#         print(f"    ¦- N rows:{n_rows:,}", f"¦- N rows after filtering:{prog_acad.shape[0]:,}", f"¦- N rows filtered:{(n_rows - prog_acad.shape[0]):,}")
#         return prog_acad
    
#     def fetch_prog_acad(self):

#         collection = []
#         for periodo in self.periodos:
#             prog_acad = self.fetch_prog_acad_by_periodo(periodo)
#             collection.append(prog_acad)
#         prog_acad_consol = pd.concat(collection, ignore_index=True)

#         return prog_acad_consol

#     def fetch_and_transform(self):
#         tabla_horario = self.fetch_tabla_horario()
#         tabla_curso_actual = self.fetch_tabla_curso_actual()
#         tabla_curso_acumulado = self.fetch_tabla_curso_acumulado()
#         tabla_sede = self.fetch_tabla_sede()
#         tabla_curso_inicial = self.fetch_tabla_curso_inicial()
#         tabla_aula = self.fetch_tabla_aula()
#         tabla_turno_disponible = self.fetch_tabla_turno_disponible()
#         tabla_vac_estandar = self.fetch_tabla_vac_estandar()
#         prog_acad = self.fetch_prog_acad()

#         curso_acumulado = tabla_curso_acumulado[
#             ['CURSO_ANTERIOR', 'CURSO_ACTUAL']].rename(
#                 columns={'CURSO_ANTERIOR': 'CODIGO_DE_CURSO'}).copy()
        
#         horario = tabla_horario[['HORARIO', 'HORARIO_ACTUAL']].copy()

#         # transform
#         prog_acad['SEDE'] = prog_acad['SEDE'].str.replace('Provincias - ', '')
        
#         # join
#         prog_acad_01 = prog_acad.merge(
#             curso_acumulado,
#             how='left',
#             on=['CODIGO_DE_CURSO']
#         )
        
#         assert  prog_acad_01['CURSO_ACTUAL'].isnull().sum() == 0
#         prog_acad_02 = prog_acad_01.merge(
#             horario,
#             how='left',
#             on=['HORARIO']
#         )
        
#         assert  prog_acad_02['HORARIO_ACTUAL'].isnull().sum() == 0

#         prog_acad_03 = prog_acad_02.groupby(
#             ['PERIODO', 'SEDE', 'CURSO_ACTUAL', 'HORARIO_ACTUAL'], as_index=False
#             ).agg(
#                 CANT_CLASES=pd.NamedAgg(
#                 column='CURSO_ACTUAL', aggfunc='size'
#                 ),
#                 CANT_ALUMNOS=pd.NamedAgg(
#                     column='CANT_MATRICULADOS', aggfunc='sum'
#                 )
#         )
#         return prog_acad_03

#     def fetch_all(self):
#         self.fetch_tabla_curso_actual()
#         self.fetch_tabla_curso_acumulado()
#         self.fetch_tabla_sede()
#         self.fetch_tabla_curso_inicial()
#         self.fetch_tabla_aula()
#         self.fetch_tabla_turno_disponible()
#         self.fetch_tabla_vac_estandar()
#         self.fetch_prog_acad()
#         pass

In [111]:
# base_path = '../raw'
# periodo = 202501
# n_periodos = 3
# all_periodos = False
# credential = None
# dataset = Dataset(base_path, periodo, n_periodos, all_periodos, credential)
# curso_acumulado = dataset.fetch_tabla_curso_acumulado()
# q = dataset.fetch_and_transform()